<section class="registro-user">
  <div class="wrapper">
    <div class="section-registro">
      <div class="header-registro">
        <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
        <span *ngIf="!editar" class="title">Registrar Producto</span>
        <span *ngIf="editar" class="title">Actualizar Producto</span>
        <mat-icon class="icon-forward">arrow_forward</mat-icon>
      </div>
      <div class="body-registro">
        <img src="/assets/images/FCCBuap.png" class="logo-fcc">
        <mat-form-field class="mat-input" appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput [(ngModel)]="productos.id" name="id" placeholder="Escribe el ID" required>
        </mat-form-field>
        <div *ngIf="errors.id" class="invalid-feedback">{{ errors.id }}</div>

        <mat-form-field class="mat-input" appearance="outline">
          <mat-label>Nombre del Producto</mat-label>
          <input matInput [(ngModel)]="productos.nombre_producto" placeholder="Escribe el nombre del producto" required>
        </mat-form-field>
        <div *ngIf="errors.nombre_producto" class="invalid-feedback">{{ errors.nombre_producto }}</div>

        <mat-form-field class="mat-input" appearance="outline">
          <mat-label>Departamento</mat-label>
          <input matInput [(ngModel)]="productos.departamento" placeholder="Escribe el departamento" required>
        </mat-form-field>
        <div *ngIf="errors.departamento" class="invalid-feedback">{{ errors.departamento }}</div>

        <mat-form-field class="mat-input" appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput [(ngModel)]="productos.precio" type="number" placeholder="Escribe el precio" required>
        </mat-form-field>
        <div *ngIf="errors.precio" class="invalid-feedback">{{ errors.precio }}</div>

        <div class="section-buttons">
          <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
          <button *ngIf="!editar" class="btn btn-primary" (click)="registrarProducto()">Registrar Producto</button>
          <!-- <button *ngIf="editar" class="btn btn-primary" (click)="actualizarProducto()">Actualizar Producto</button> -->
        </div>
      </div>
    </div>
  </div>
</section>
